*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #FF006E;
  --neutral: #223843;
  --neutral-light: #A39A92;
}

body{
  margin: 0;
}

h1,h2,h3,h4,p, a{
  color: var(--neutral);
}


a {
  text-decoration: none;
}